<?xml version="1.0"?>

<robot name="bumperbot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    

    <!-- Friction coefficients: To avoid slipping of the wheels -->
    <gazebo reference = "wheel_right_link">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <!-- <fdir1>1 0 0</fdir1> --> <!-- indicates the direction of rotation of 
                                  wheel only for the wheels which can be accuated-->
                          
    </gazebo>

    <gazebo reference = "wheel_left_link">
         <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <!-- <fdir1>1 0 0</fdir1> --> <!-- indicates the direction of rotation of 
                                  wheel only for the wheels which can be accuated-->

    </gazebo>

    <gazebo reference = "caster_front_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <gazebo reference = "caster_rear_link">
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>

    <!-- ROS 2 Control and IMU system -->
    <gazebo>

        <!-- ROS 2 Humble -->
        <xacro:if value="$(arg is_ignition)">
            <plugin
                filename="ign_ros2_control-system"
                name="ign_ros2_control::IgnitionROS2ControlPlugin">
                <parameters>$(find bumperbot_controller)/config/bumperbot_controllers.yaml</parameters>
            </plugin>

            <plugin
                filename="ignition-gazebo-imu-system"
                name="ignition::gazebo::systems::Imu"/>
        </xacro:if>

        <!-- ROS 2 Jazzy / Gazebo Harmonic -->
        <xacro:unless value="$(arg is_ignition)">
            <plugin
                filename="gz_ros2_control-system"
                name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find bumperbot_controller)/config/bumperbot_controllers.yaml</parameters>
            </plugin>

            <plugin
                filename="gz-sim-imu-system"
                name="gz::sim::systems::Imu"/>
        </xacro:unless>

    </gazebo>
</robot>